
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px !important
}
.header {
    height: 80px;
    font-size: 14px !important;
    font-weight: bold !important
}
.modeChange {
    justify-content: end;
}
.country-box {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 300px;
    cursor: pointer;
    background-color: #2B3945;
    width: 270px;
    border-radius: 8px
}
.country-wrapper {
    width: -webkit-fill-available;
}
